@font-face{
	font-family:"Golden State Serif PERSONAL Black";
	src:url("images/font/GoldenStateSerifPERSONAL-BlackItalic.otf"); 
}
@font-face{
	font-family:"Basic Sans Serif 7";
	src:url("images/font/basic_sans_serif_7.ttf");
}

body{
		background-image:url("images/fondos/azul_C.jpg");
		background-attachment:fixed;
}
h1{
	font-size:50px;
	text-align:center;
	border-style:groove;
	border-width:8px;
	border-color: lightblue;
	border-radius:38px;
	background-image:url("images/fondos/azul_V.jpg");
	color:black;
	font-family:"Golden State Serif PERSONAL Black";
	text-shadow:3px 2px 2px #03fc7f;
	height:55px;
	vertical-align:baseline;
	border-bottom-color: light-blue;
	border-top-color:light-blue;
	border-left-color:darkgreen;
	border-right-color:darkgreen;
}

table{
	border-spacing:30px;
}

	

p{
	font-family:"Basic Sans Serif 7";
	text-shadow:1px -1px 15px #83c9f2;
	font-size:20px;
	text-align:justify;
	margin-left:10px;
	line-height:30px;
	
}

img{
	border-style:solid;
	border-radius:15px;
	border-color:black;
	box-shadow:1px 3px 2px black;
	margin-left:3%;
	margin-right:3%;
	border-width:3px;
	
}

ol{
	font-size:20px; 
	text-align:justify; 
	margin-left:15px;
	font-family:"Basic Sans Serif 7"; 
	text-shadow:3px 2px 15px grey; 
}

ul{
	font-size:20px; 
	text-align:justify; 
	margin-left:15px;
	font-family:"Basic Sans Serif 7"; 
	text-shadow:3px 2px 15px grey; 
}

h2{
	font-size:40px;  
	margin-left:5px; 
	text-shadow: 5px 6px 20px grey; 
	color:#140585; 
	border-bottom:grey; 
}

h3{
	font-size: 25px;
	color:#6059ba; 
}



.tito{
	display:block;
	margin:auto;
}

.p2{
	font-size:12px; 
}

.p1{
	font-size:12px; 
}

.p3{
	font-size:15px;
}

.i1{
	
	margin-left:10%;
	/*float: left;*/
	margin-right: 5%; 
	margin-bottom:15px;
	/*display:block;*/
	
	
}

.i2{
	display:block;
	margin-top:10px;
	margin-bottom:10px;
}

.i3{
	display:block;
	margin:auto;
}

.Im1{
	display:block;
	margin:auto;
	margin-bottom:20px;
}

.Im2{
	margin-top:50px;
	display:block;
	margin:auto;
}

a:link{
	color:#6c8bbd;
	background-color:white;
}

.l:hover{
border-color:Blue;
border-width:8px;
}

a:visited{
	color:#0a6373;
	background-color:white;
}
a:hover{
	border-color:lightblue;
	border-width:5px; 
}
.a:hover{
	font-size:22px;
	background-color:#6c8bbd;
	color:white;
}