@font-face{
	font-family:Selectric;
	src:url("font/SLC_.ttf"); 
}

@import url(https://fonts.googleapis.com/css?family=Inter:100,200,300,regular,500,600,700,800,900);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  --shadow: rgba(0, 0, 0, 0.05) 0px 6px 10px 0px,
    rgba(0, 0, 0, 0.1) 0px 0px 0px 1px;
  --color: #1a1c28;
  --gap: 0.5rem;
  --radius: 5px;
    transition:1s;
}

body {
  margin: 2rem;
  background-color: #b3e6f4;
  font-size: 0.9rem;
  color: black;
}

.btn {
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  column-gap: var(--gap);
  padding: 0.6rem;
  cursor: pointer;
  border-radius: var(--radius);
  border: none;
  box-shadow: var(--shadow);
  position: relative;
}

.bx {
  font-size: 1.1rem;
}

.dropdown {
  position: absolute;
  width: 250px;
  box-shadow: var(--shadow);
  border-radius: var(--radius);
  margin-top: 0.3rem;
  background: white;

  visibility: hidden;
  opacity: 0;
  transform: translateY(0.5rem);
  transition: all 0.1s cubic-bezier(0.16, 1, 0.5, 1);
}

.dropdown a {
  display: flex;
  align-items: center;
  column-gap: var(--gap);
  padding: 0.8rem 1rem;
  text-decoration: none;
  color: black;
}

.dropdown a:hover {
  background-color: var(--color);
  color: white;
}

.show {
  visibility: visible;
  opacity: 1;
  transform: translateY(0rem);
}

.arrow {
  transform: rotate(180deg);
  transition: 0.2s ease;
}


body{
	background-color:#1a1c28;
	margin:0px;
}


/* Página de MegaBonk*/ 

.textobonk{
	width:60%;
}

.imagenbonk{
	width:30%;
	margin-top:20px;
}

.bonkt{
	display:flex;
	flex-direction:row;
	align-items:center;
	justify-content: space-around;
	width:100%; 
	height:auto;
}

.bonktt{
	display:flex;
	align-items:center;
	justify-content:center;
	width:100%;
	height:auto;
	flex-direction:column;
}

.imagenbonk2{
	width:40%;
	height:auto;
	margin-bottom:30px;
}

.textobonk2{
	width:70%;
}

.bonktt h2{
	color:white;
}

.imgbonk{
	width:80%;
}

/* Página de MegaBonk */

/* Página de Politica */

.pol{
	border-bottom:solid;
	border-width:3px;
	width:100%;
	height:auto;
	color:white;
	font-size:27px;
}

.todon{
	width:70%;
	height:auto;
	display:flex;
	flex-direction:column;
	align-items:center;
}

.todo{
	margin-top:35px;
	margin-bottom:35px;
	width:100%;
	height:auto;
	display:flex;
	flex-direction: row-reverse;
}

.addtin{
	width:30%;
	height:auto;
	display:flex;
	align-items: center;
    justify-content: center;
}

.addsub2{
	height:auto;
	width:45%;
	display:flex;
}

.noticia9{
	width:auto;
	height:auto;
	display:flex;
	flex-direction:column;
	margin-bottom:60px;
	margin-top:50px;
	align-items: center;
}

h4{
	color:white;
	font-size:13px;
}

.textt{
	width:60%;
	height:auto;
	border-color:#36353d;
	border-style:solid;
	border-width:5px;
	border-radius:5px;
	display:flex;
	justify-content:space-evenly;
}

.textt p{
	font-size:26px;
	text-align:center;
}

.ty{
	display:flex;
	justify-content:space-evenly;
	height:auto;
	border:solid;
	border-color:#36353d;
}

.ty p{
	font-size:26px;
	text-align:center;
}

.ir{
	height:auto;
	width:60%;
	border-left:solid;
	border-right:solid;
	border-bottom:solid;
	border-color:#36353d;
	border-radius:5px;
	border-width:5px;
}

.not10{
	width:100%;
	height:auto;
	display:flex;
	flex-direction:row;
	justify-content:space-around;
	align-items:center;
	
}

.noticia10{
	width:40%;
	height:auto;
	display:flex;
	flex-direction:column;	
	margin-bottom:100px;
}

.asd123{
	width:auto;
	height:auto;
}


/* Página de Politica */

/* Página Main (MilaNews) */ 

.a1{
	background-color:#182339;
	height:auto;
	width:100%;	
	display:flex; 
	justify-content:space-between;
}

.lama{
	display:flex;
	flex-direction:column;
	justify-content:flex-end;
	height:auto;
	width:5%;
	
}

.a1-3{
	width:100%;
	height:auto;
	display:flex;
	align-items:center;
	justify-content: space-around;
	margin-top:20px;
}

.a5{
	width:100%;
	height:auto;
	display:flex;
	flex-direction:column;
	background-color:#0a1c28;
}

.tema{
	height:auto;
	width:100%;
}

main{
	display:flex;
	flex-direction:row;
	justify-content:space-between;
	flex-wrap:wrap;
	
}

p{
	color:#cfd4cd;
	font-size:20px;
	line-height:30px;
}

.csgo{
	width:100%;
	height:auto;
	margin-bottom:30px;
}

.csgo h2{
	color:#c7c9c5;
	font-size:30px;
	border-top:solid;
	border-color:black;
	border-width:2px;
}

.textoo{
	width:50%;
	height:auto;
	
}

.ter3{
	display:flex;
	flex-direction:row-reverse;
	width:100%;
	height:auto;
}
.textooo{
	width:50%;
	height:auto;
}

.imageen{
	width:30%;
	height:auto;
	margin-right:120px;
}

.imagenn{
	width:35%;
	height:auto;
	margin-left:90px;
}
.ter{
	
	width:100%;
	height:auto;
	display:flex;
	
}

.tema{
	width:90%;
	height:auto;
}

.climad{
	width:15%;
	height:auto;
	display:flex;
	margin-left:0px;
	flex-direction:column;
	align-items:center;
	margin-top:10px;
	margin-left:15px;
}

.clima{
	width:100%;
	height:auto;
}

.ad{
	width:150px;
	height:auto;
	margin-top:50px;
	margin-bottom:15px;
}
	
.center{
	width:60%;
	height:auto;
	display:flex;
	flex-direction:column;
	margin-top:11px;
	align-items:center;
}
	

.anuncio1{
	width:80%;
	height:auto;
	margin-top:20px;
	
}

.tarjetas{
	width:100%;
	height:auto;
	margin-top:65px;	
	display:flex;
	border:solid;
	border-radius:20px;
}

.imagen{
	width:55%;
	height:auto;
	padding:2%;
}

.texto{
	height:auto;
	width:45%;
	display:flex;
	align-items:center;
	flex-direction:column;
	color:white;
}

.texto a{
	font-size:20px;
	color:grey;
	text-decoration:none;	
}

a{
	font-size:15px;
	color:white;
	text-decoration:none;	
}

h1{
	color:white;
}

.tx{
	font-size:20px;
}

.slider{
	width:70%;
	height:auto;	
	margin-top:65px;
	box-shadow:0px 0px 30px white;
}

.slider img{
	width:100%;
	height:auto;
}

.popular{
	width:16%;
	height:auto;
	
	margin-top:5%;
	margin-right:15px;	
	display:flex;
	flex-direction:column;
}

.imagenes{
	height:auto;
	width:100%;
	margin-top:30px;
}

.noticia{
	border-bottom:solid;
	border-width:1px;
	color:white;
	
}

.noticia1{
	border-bottom:solid;
	border-width:1px;
	color:white;
	margin-bottom:100px;
}

.colap{
	width:100%;
	height:auto;
	display:flex;
	flex-direction:column;
	padding:1%;
	
}

.mgg{
	width:85%;
	height:auto;
	
}


nav{
	display:flex;
	justify-content:space-around;
	height:auto;
	width:100%;
	background-color:#292a36;
}
nav a:link{
	
	font-size:27px;
	font-family:Selectric;
	
}

footer{
	width:100%;
	height:auto;
	background-color:#242526;
	display:flex;
	flex-direction:column;
}

.foot{
	width:100%;
	height:auto;
	display:flex;
	flex-direction:row;
	align-items:center;
	
}

.locial{
	width:20%;
	height:auto;
	display:flex;
	flex-direction:column;
	padding:1%;
}

.social{
	width:10%;	
	height:auto;
	display:flex;
	flex-direction:row;
	margin-left:10%; 
	
}

.social img{
	margin-left:5px;
}

.logo{
	margin-left:5%;
	height:auto;
	width:50%;
}

.info{
	width:100%;
	height:auto;
	margin-top:10px;
	border-top:solid;
	display:flex;
	flex-direction:row;
	justify-content: space-around;
	padding-top:1%;
	align-items:center;
}

.main2{
	padding:1%;
}

.info a{

	font-size:20px;
	color:grey;
	text-decoration:none;	
	transition:all 0.7s;
	
}

.info a:hover{
	
	color:#575655;
	transition:all 0.7s;
}

.cp{

	color:#dcdede;
	

}

.pasec{
	width:80%;
	height:auto;
	display:flex;
	flex-direction:row;	
	justify-content:space-around;
	align-items:Center;
	font-family:Selectric;
}

.pag{
	width:30%;
	height:auto;
	color:white;
}

.pag a{
	font-size:25px;
	line-height:50px;	
	font-family:Selectric;
}

.sec{
	color:white;
	width:30%;
	height:auto;
}

.sec a{
	font-size:25px;
	line-height:46px;
}


.patro{
	width:10%;
	height:auto;
	display:flex;
	align-items:center;
	flex-direction:column;
}

nav a:link, nav a:visited{
	display:flex;
	width:30%;
	height:auto;
	justify-content: space-evenly;
    align-items:center;
	text-decoration:none;
	transition:all 0.5s;
	color:white;
}

nav a:hover{

	text-decoration:underline;
	transition:0.5s;
	color:#858483;
}

img{
	width:100%;  
	height:auto;  
}


.video12{
	width:100%;
	height:auto;
	margin-top:90px;
	display:flex;
	padding:1%;
	border:solid;
	border-color:black;
}

.video13{
	height:auto;
	width:85%;
}

.txte{
	height:auto;
	width:100%;
	padding:1%;
}

.txte h2{
	color:white;
}
/* Página Main (MilaNews) */ 
/*pagina economia*/
.eco{
	border-bottom:solid;
	border-width:3px;
	width:100%;
	height:auto;
	border-top:30px;
	color:white;
}

.todoeco{
	margin-top:35px;
	margin-bottom:35px;
	width:100%;
	height:auto;
	display:flex;
	flex-direction: column;
    align-items: center;
}

.todo70{
	width:75%;
	height:auto;
	margin-top:2%;
	background-color:#430ce2;
	display:flex;
	flex-direction:column;
    align-items:center;
}

.foto70{
	width:50%;
	height:150px;
	background-color:blue;
}

.texto70{
	width:50%;
	height:150px;
	background-color:red;
}

.todo80{
	width:95%;
	height:auto;
	margin-top:5%;
	background-color:#332942;
	display:flex;
    align-items: center;
    justify-content: center;
}

.foto80{
	width:20%;
	height:250px;
	background-color:#42519f;
	display:flex;
	flex-direction:column;
}

.texto80{
	width:20%;
	height:250px;
	background-color:#9274ad;
	display:flex;
	flex-direction:column;
	margin-right:1%;
}

.todo90{
	width:75%;
	height:300px;
	margin-top:2%;
	background-color:yellow;
}
	
.asd123{
	width:80%;
	height:auto;
}
/*pagina economia*/

/*pagina ucrania*/

.mainucra{
	width:100%;
	height:auto;
}

.ucrtxh{
	font-size:20px;
	margin-top:5px;
	margin-bottom:5px;
	padding:1%;
}

.ucrim{
	width:55%;
	height:auto;
	padding:1%;
}

.ucr{
	width:100%;
	height:auto;
	display:flex;
	justify-content:center;
}

.ttt li{
	color:white;
	margin-left:3%;
	font-size:17px;
	line-height:30px;
	
}

.ttt{
	margin-left:3%;
	margin-bottom:3%;
}

.div{
	width:40%;
	height:auto;
	border:double;
	border-width:10px;
	border-color:white;
	border-radius:30px;
	background-color:black;
	padding:1%;
}

.div2{
	display:flex;
	width:100%;
	height:auto;
	justify-content:center;
	margin-top:30px;
	margin-bottom:30px;
}

/* ----------------------------------------- Media Screen --------------------------------------------- */ 

@media screen and (max-width: 800px){

.div{
	width:80%;
}

.textobonk p{
	font-size:20px;
	width:100%;
	
}

.imgbonk{
	width:100%;
	margin-bottom:30px;
	margin-top:30px;	
}

.bonkt{
	display:flex;
	flex-direction:column;
	width:100%;
}

.imagenbonk{
	width:100%;
	height:auto;
	display:flex;
	margin-bottom:30px;
}

.imagenbonk2{
	width:80%;
	margin-top:30px;
}

.ucrim{
	width:90%;
}

.lama{
	width:7%;
}

.nav a{
	font-size:60px;
}

.a1-3{
	width:100%;
	height:auto;
	display:flex;
	align-items:center;
	justify-content: space-around;
	margin-top:20px;
}

.a5{
	width:100%;
	height:auto;
	display:flex;
	flex-direction:column;
}

nav{
	display:flex;
	flex-direction:column;
    align-items:center;
	font-size:100px;
}
main{
	display:flex;
	flex-direction:column;
	align-items:center;
}

.climad{
	display:flex;
	width:100%;
	height:auto;
}

.center{
	display:flex;
	align-items:center;
	flex-wrap:wrap;
}

.clima{
	width:40%;
	margin-right:65%;
}

.center{
	width:80%;
}

.tarjetas{	
	flex-direction:column;
	align-items:center;
	width:100%;
}

.tarjetas p{
	font-size:20px;
	line-height:30px;
}

.tarjetas h2{
	font-size:25px;
}

.tarjetas a{
	font-size:20px;
}

.imagen{
	width:90%;
}

.texto{
	width:90%;
	margin-bottom:10px;
}

.ad{
	width:30%;
	display:none;
}

.anuncio1{
	width:100%;
}

.popular{
	display:none;
}

.slider{
	width:100%;
}

.video12{
	width:90%;
	flex-direction:column;
	align-items:center;
	margin-bottom:30px;
}


.txte{
	width:90%;
	margin-top:3%;
	font-size:20px;
	display:flex;
	align-items:center;
	flex-direction:column;
}

.txte p{
	font-size:20px;
	line-height:30px;
	
}

.foot{
	flex-direction:column;
	align-items:center;
}

.locial{
	width:25%;
}

.logo{
	width:100%;
}

.social{
	width:80%;
	height:35px;	
	padding:1%;
	display:flex;
	justify-content:center;
}

.pag{
	width:50%;
	font-size:20px;
	display:flex;
	align-items:center;
}

.pag a{
	font-size:20px;
}

.pasec{
	width:100%;
	flex-wrap:wrap;
}

.sec{
	width:50%;
	font-size:20px;
}

.sec a{
	font-size:20px;
}

.patro{
	flex-direction:row;
	width:50%;
}

.info a{
	font-size:15px;
}

.info p{
	font-size:15px;
}

.info{
	flex-wrap:wrap;
}

.noticia10{
	margin-bottom:1px;
}

.noticia9{
	width:100%;
}

.asd123{
	width:100%;
}

.addtin{
	display:none;
}

.todo{
	justify-content:Center;
}

.todon{
	width:100%;
}

.not10{
	align-items: stretch
}

.ter{
	display:flex;
	flex-direction:column;
	align-items: center;
}

.imagenn{
	height:auto;
	margin-bottom:30%;
}