@font-face{
	font-family:"Elegante Classica";
	src:url("fuentes/Elegante Classica.ttf");
}
@font-face{
	font-family:"Simple Michael";
	src:url("fuentes/Simple Michael.otf");
}
@font-face{
	font-family:"Constantine";
	src:url("fuentes/Constantine.ttf");
}
	
body{
	background-image:url("imagenes/fondo/negro.jpg");
}
h1{
	border-style:solid;
	text-align:center;
	border-radius:60px;
	font-size:45px;
	color:white;
	font-family:"Elegante Classica";
	margin-right:6%;
	margin-left:6%;
}

p{
	color:#1be7ea;
	line-height:20px;
	font-family:"Simple Michael";
	letter-spacing:3px;
	text-align:justify;
	margin-left:3%;
	margin-right:3%;
}

img{
	
	border-style:solid;
	border-radius:60px;
	color:#1be7ea;
	border-width:3px;
	margin-right:2%;
	margin-left:4%;
	margin-top:10px;
}

.link:hover{
	border-color:red;
	border-width:6px;
}

.i{
	display:block;
	margin:auto;
	box-shadow:7px 7px 7px blue;
}
h2{
	color:#b79ff3;
	font-family:"Constantine";
	font-size:33px;
}
h3{
	color:#b79ff3;
	font-family:"Constantine";
	font-size:26px;
}
table{
	color:violet;
	font-family:"Comic Sans MS";
}
td{
	border-style:solid;
	border-width:2px;
	border-color:red;
	border-radius:25px;
	text-align:center;
	border-spacing:5px;
}
li{
	color:violet;
	font-family:"Constantine";
	margin-left:4%;
	margin-top:10px;
}

.l1{
	color:red;
}

.l{
	color:#33fff9;
}
	
	